@import url('https://fonts.googleapis.com/css?family=Montserrat:500|Poppins&display=swap');

:root {
    --primary-color: #2980b9;
    --secondarycolor: #141414;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    border: 4px solid #fff;

    justify-content: center;
    align-content: center;
    font-family: monospace;
    opacity: 0.7;
}

body {
    font-family: 'Arial', sanas-serif;
    -webkit-font-smoothing: antialiased;
    background: #000;
    color: #fff;

}

ul {
    list-style: none;
}


a {
    text-decoration: none;
    color: #fff;
}

p {
    margin: 0.5rem 0;
}

.showcase {
    width: 100%;
    height: 93vh;
    position: relative;
    background: url('images/bg3.jpg') no-repeat center center/cover;
}


.showcase::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 93vh;
    z-index: 1;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: inset 80px 80px 300px #000;
}

.showcase-top {
    z-index: 2;
    position: relative;
    height: 90px;
}

.showcase-top .logo {
    width: 70px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.showcase-top a {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}


.showcase-content {
    z-index: 2;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 4rem;
}

.showcase-content h1 {
    font-weight: 700;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
}

.showcase-content p {
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 10px;
}

/*Tabs*/

.tabs {
    background: var(--secondarycolor);
    padding-top: 1rem;
    border-bottom: 3px solid #3d3d3d;

}

.tabs p {
    font-size: 1rem;
    padding-top: 0.5rem;
    font-family: 'Montserrat', sans-serif;
}

.tabs .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tabs .container>div {
    padding: 1.5rem 0;
    color: #fff2;
}

.tabs .container>div:hover {
    color: #fff;
    cursor: pointer;
}

.tab-border {
    border-bottom: var(--primary-color) 4px solid;
}

.tab-content {
    padding: 3rem 0;
    background: #000;
    color: #fff;
}

#tab-1-content .tab-1-content-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    align-items: center;
    justify-content: center;
}

#tab-2-content .tab-2-content-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    align-items: center;
    justify-content: center;
}

#tab-2-content .tab-2-content-inner img {
    width: 360px;
}

#tab-3-content .tab-3-content-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    align-items: center;
    justify-content: center;
        margin-left: 160px;
}

#tab-3-content .tab-3-content-inner img {
    width: 360px;

}

/*Hide tab content initially*/
#tab-1-content,
#tab-2-content,
#tab-3-content {
    display: none;
}

.show {
    display: block !important;
}



/*Footer*/
.footer {
    max-width: 100%;
    margin: auto;
    overflow: auto;
    background: var(--secondarycolor);
}

.footer,
.footer a {

    color: #999;
    font-size: 0.8rem;
}

.footer p {
    margin: 1rem 1rem;
}

.footer .footer-cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin: 1rem 1rem;
}

.footer li {
    line-height: 1.9;
}

/*All Containers*/
.container {
    max-width: 70%;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

/*Buttons*/
.btn {
    display: inline-black;
    background: var(--primary-color);
    color: #fff;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    outline: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    border-radius: 2px;
}

.btn:hover {
    opacity: 0.9;
}

.btn-rounded {
    border-radius: 5px;
}

.btn-xl {
    font-size: 1rem;
    padding: 1.0rem 1.5rem;
    text-transform: uppercase;
}

.btn-lg {
    font-size: 0.8rem;
    padding: 0.8rem 1;
    text-transform: uppercase;
}

/*text styles*/
.text-lg {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
}



@media (max-width: 960px) {

    .showcase {
        height: 70vh;
    }

    .hide-sm {
        display: none;
    }

    .showcase-top img {
        top: 30%;
        left: 5%;
        transform: translate(0);
    }

    .showcase-content h1 {
        font-size: 3.7rem;
        line-height: 1;
    }

    .showcase-content p {
        font-size: 1.5rem;
    }

    .footer .footer-cols {
        grid-template-columns: repeat(2, 1fr);
    }

    .btn-xl {
        font-size: 1.5rem;
        padding: 1.4rem 2rem;
        text-transform: uppercase;
    }

    .text-xl {
        font-size: 1.5rem;
    }

    .text-lg {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    .text-md {
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }
}

@media (max-width: 700px) {
    .showcase::after {
        background: rgba(0, 0, 0, 0.6);
        box-shadow: inset 80px 80px 150px #000000, inset -80px -80px 150px #000000;
    }

    .showcase-content h1 {
        font-size: 2.5rem;
        line-height: 1;
    }

    .showcase-content p {
        font-size: 1rem;
    }

    #tab-1-content .tab-1-content-inner {
        grid-template-columns: 1fr;
        text-align: center;
    }

    #tab-2-content .tab-2-content-top {
        display: block;
        text-align: center;
    }

    #tab-2-content .tab-2-content-bottom {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        text-align: center;
    }

    .btn-xl {
        font-size: 1rem;
        padding: 1.2rem 1.6rem;
        text-transform: uppercase;
    }
}

@media(max-height: 600px) {
    .showcase-content {
        margin-top: 3rem;
    }
}